.Char {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  @media only screen and (min-width: 720px) {
    flex-direction: row;
  }

  &__content {
    &--fluid {
      flex-grow: 1;
    }
  }
}
