.Reverse {
  width: 100%;
  height: 100%;
  background: var(--surface);
  border: solid 1px var(--green);
  border-radius: 20px;
  padding: 20px;

  &__table {
    height: 100%;
    td:nth-child(2) {
      padding-left: 20px;
    }
  }
}
