.ToggleTheme {
  position: relative;
  border-radius: 20px;
  width: 50px;
  height: 34px;
  background-color: transparent;
  border: solid var(--primary) 1px;
  overflow: hidden;
  &:hover {
    background-color: var(--primary);
  }

  &__icon {
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 1s;
    

    &.hide {
      left: 50px;
    }
  }
}
