.SearchBar {
  position: relative;
  color: var(--primary);
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 720px) {
    flex-direction: row;
  }

  &__input {
    height: 40px;
    padding: 0 14px;
    border: var(--primary) solid 1px;
    background: var(--background);
    color: var(--primary);
    font-size: 16px;
    width: 250px;
    &::placeholder {
      opacity: 0.5;
      color: inherit;
    }
  }

  &__button {
    height: 40px;
    padding: 0 14px;
    border: var(--primary) solid 1px;
    background: var(--background);
    color: var(--primary);
    font-size: 14px;

    &:hover {
      background: var(--primary);
      color: var(--on-primary);
      cursor: pointer;
    }
  }

  &__dataList {
    height: 40px;
    padding: 0 4px;
    border: var(--primary) solid 1px;
    background: var(--background);
    font-size: 14px;
    color: var(--primary);
    @media only screen and (min-width: 720px) {
      width: 160px;
    }
  }

  @media only screen and (max-width: 719px) {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 250px;
    margin: auto;
    z-index: 1000;

    > .hide {
      display: none;
    }
  }

  &__icon {
    display: none;
  }

  @media only screen and (max-width: 419px) {
    display: none;
    &.full {
      display: flex;
    }

    &__icon {
      display: block;
      font-size: 25px;
      background-color: transparent;
      border: none;
    }
  }
}
