.SearchBar {
  height: 40px;
  position: relative;
  color: var(--green);
  display: flex;

  &__input {
    padding: 0 14px;
    border: var(--green) solid 1px;
    background: transparent;
    color: var(--green);
    font-size: 16px;
    width: 250px;
    &::placeholder {
      opacity: 0.5;
      color: inherit;
    }
  }

  &__button {
    padding: 0 14px;
    border: var(--green) solid 1px;
    background: transparent;
    color: var(--green);
    font-size: 14px;

    &:hover {
      background: var(--green);
      color: var(--on-surface);
      cursor: pointer;
    }
  }

  &__dataList {
    padding: 0 4px;
    border: var(--green) solid 1px;
    background: var(--surface);
    font-size: 14px;
    width: 160px;
    color: var(--green);
  }
}