.Header {
  padding: 60px;
  background-color: var(--surface);

  &__title {
    font-size: 60px;
    text-align: center;
    color: var(--green);
    font-family: 'Rick', cursive;
    letter-spacing: 40px;
  }
}
