.Header {
  padding: 110px 30px 15px 30px;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 32px;
    text-align: center;
    color: var(--primary);
    font-family: 'Rick', cursive;
    letter-spacing: 20px;
    margin-bottom: 30px;
    @media only screen and (min-width: 480px) {
      font-size: 48px;
      letter-spacing: 30px;
    }
    @media only screen and (min-width: 720px) {
      font-size: 60px;
      letter-spacing: 40px;
    }
  }
}
