.RotatingCard {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  &:hover &__content {
    transform: perspective(1000px) rotateY(-180deg);

    &--back {
      transform: perspective(1000px) rotateY(0deg);
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    border: solid 1px var(--green);
    border-radius: inherit;
    overflow: hidden;
    transition: transform 1000ms;
    transform: perspective(1000px) rotateY(0deg);
    backface-visibility: hidden;

    &--back {
      transform: perspective(1000px) rotateY(180deg);
    }
  }
}
